.mission-vision-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mission-container {
    background: #ff6600;
    height: 200px;
    width: 400px;
}

.mission-container>h5 {
    color: #fff;
}