.mission-vision-container {
    display: flex;
    margin-top: -40px;
    margin-bottom: 40px;
}

.mission-container {
    background: #ff6600;
    height: 200px;
    width: 600px;
}

.mission-container {
    padding: 50px 0px 0px 0px;
}

.our-mission-text-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.our-text {
    margin-bottom: 20px;
    text-align: center;
}

.mission-container>h5 {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
}

.our-text>span {
    background: #fff;
    padding: 4px;
    margin-right: 3px;
    font-size: 29px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    color: #ff6600;
}

.mission-text>span {
    background: #fff;
    padding: 4px;
    margin-right: 3px;
    font-size: 29px;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    color: #ff6600;
}