.more-details-container {
    padding: 50px;
}

.more-details-info {
    display: flex;
}

.more-details-customer-info .main-text {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.more-details-customer-info>h5 {
    font-family: "DM Sans";
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 200;
}

.more-details-customer-info .result {
    color: #108afb;
    font-size: 18px;
}

.more-details-customer-info .sub-main-text {
    font-size: 22px;
    font-family: "DM Sans";
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}

.more-details-customer-info input {
    display: block;
    width: 300px;
    height: 40px;
    border: none;
    background: #e6e6e6;
    padding: 5px 0px 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 10px;
}