.more-details-container {
    padding: 50px;
}

.more-details-info {
    display: flex;
}

.more-details-customer-info .main-text {
    font-family: "Oswald", sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}

.more-details-customer-info>h5 {
    font-family: "DM Sans";
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 200;
}

.more-details-customer-info .result {
    color: #108afb;
    font-size: 18px;
}

.more-details-customer-info .sub-main-text {
    font-size: 22px;
    font-family: "DM Sans";
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
}