.team-container {
    padding: 20px;
    position: relative;
    margin-top: 40px;
}

.team-vector-right {
    position: absolute;
    right: 0;
    top: 0;
}

.team-vector-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.team-text>h3 {
    font-size: 30px;
    text-align: center;
    color: #ff6600;
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}

.team-text>h5 {
    font-size: 20px;
    text-align: center;
    color: #000;
    font-weight: 300;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 30px;
}

.team-member-image {
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.team-info-text {
    background: #ff6600;
    width: 200px;
    margin-top: -5px;
    height: 50px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.team-info-text .team-member-name {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

.team-info-text .team-member-role {
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}