.founders-container {
    padding: 30px;
    margin-bottom: 100px;
}

.founders-vector-right {
    position: absolute;
    right: 0;
    width: 150px;
}

.founder-text>h3 {
    font-size: 30px;
    text-align: center;
    color: #ff6600;
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}

.founder-text>h5 {
    font-size: 20px;
    text-align: center;
    color: #000;
    font-weight: 300;
    font-family: "DM Sans", sans-serif;
}

.founder-image {
    width: 300px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}