.founders-container {
    padding: 30px;
}

.founders-vector-right {
    position: absolute;
    right: 0;
}

.founder-text>h3 {
    font-size: 30px;
    text-align: center;
    color: #ff6600;
    font-family: "Oswald", sans-serif;
    margin-bottom: 10px;
}

.founder-text>h5 {
    font-size: 20px;
    text-align: center;
    color: #000;
    font-weight: 300;
    font-family: "DM Sans", sans-serif;
    margin-bottom: 30px;
}

.founder-image {
    width: 350px;
    height: 400px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    object-fit: cover;
}

.founder-info-text {
    background-color: #ff6600;
    width: 350px;
    height: 60px;
    margin-top: -5px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.founder-info-text .founder-name {
    text-align: center;
    padding-top: 10px;
    font-size: 16px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

.founder-info-text .founder-role {
    text-align: center;
    font-size: 16px;
    color: #fff;
    font-family: "DM Sans", sans-serif;
}

.founders-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

@media (min-width: 772px) {
    .founders-vector-right {
        width: 150px;
    }
}

@media (max-width: 800px) {
    .founders-vector-right {
        width: 100px;
    }
}