.tracking-container {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tracking-text>h3 {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 26px;
}