.tracking-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 60px;
}

.search-loading {
  margin-top: 10px;
}

.tracking-text > h3 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  margin-bottom: 15px;
}

.tracking-text > p {
  font-family: "DM Sans";
  font-size: 19px;
  text-align: center;
}

.tracking-input > input {
  width: 350px;
  height: 40px;
  padding: 0px 0px 0px 10px;
  position: relative;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.14);
}

.search-button {
  display: block;
  height: 40px;
  width: 350px;
  padding: 7px;
  margin-top: 10px;
  border: none;
  background: #ff6600;
  color: #fff;
  border-radius: 4px;
}

.search-button:hover {
  cursor: pointer;
}

.search-icon {
  position: absolute;
  z-index: 999;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 6px;
}

.search-icon:hover {
  cursor: pointer;
}

.tracking-input > input:focus {
  outline: none;
}

.tracking-input > input::placeholder {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: #000;
}

.tracking-result .trackingImage,
.tracking-result .trackingMobile {
  display: block;
  margin: 40px auto 40px auto;
}

@media (min-width: 768px) {
  .tracking-result > img {
    width: 100%;
  }
  .tracking-result .trackingMobile {
    display: none;
  }
}

@media (max-width: 600px) {
  .tracking-result > img {
    width: 300px;
  }
  .tracking-result .trackingImage {
    display: none;
  }
  .search-button {
    width: 350px;
    margin: 15px auto;
  }
}
