.steps-container {
    padding: 50px;
}

.steps-text>h4 {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.steps-text>h4>span {
    color: #ff6600;
}

.steps-text>img {
    display: block;
    margin-left: 420px;
    width: 140px;
}

@media (max-width: 800px) {
    .steps-text>img {
        margin-left: -10px;
    }
}