.solution-container {
    padding: 20px;
}

.vector-left {
    position: absolute;
    left: 0;
}

.vector-right {
    right: 0;
    position: absolute;
}

.solution-text {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
}

.solutions-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}