.navbar-container {
    padding: 20px;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 2px 2px 2px #eae3df;
}

.nav-list>ul {
    display: flex;
    align-items: center;
}

.toggler-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #d45500;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.toggler-bars {
    color: #fff;
}

.toggler-bars:hover {
    cursor: pointer;
}

.nav-list>ul>li {
    list-style: none;
    margin-left: 30px;
    color: #d45500;
}

.nav-links {
    text-decoration: none;
    color: #d45500;
}

@media (min-width: 990px) {
    .pickbox-logo {
        margin-right: 50%;
        margin-left: 30px;
    }
}

@media (max-width: 600px) {
    .nav-list>ul {
        display: none;
    }
    .toggler-icon {
        display: flex;
    }
}