.navbar-container{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}
.nav-list>ul{
    display: flex;
    align-items: center;
}
.nav-list>ul>li{
    list-style: none;
    margin-left: 30px;
}