.navbar-container {
  padding: 20px;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
  background: #fff;
  box-shadow: 2px 2px 2px #eae3df;
  position: fixed;
}

.nav-list > ul {
  display: flex;
  align-items: center;
}

.toggler-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d45500;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 999;
}

.nav-list-mobile > ul > li {
  list-style: none;
  margin-bottom: 36px;
  font-size: 20px;
}

.nav-list-mobile > ul > li > a:hover {
  color: #d45500;
}

.toggler-bars {
  color: #fff;
  font-size: 17px;
}

.toggler-bars:hover {
  cursor: pointer;
}

.nav-list > ul > li {
  list-style: none;
  margin-left: 30px;
  color: #d45500;
}

.nav-links {
  text-decoration: none;
  color: #d45500;
}

@media (min-width: 990px) {
  .pickbox-logo {
    margin-right: 50%;
    margin-left: 30px;
  }
}

@media (max-width: 600px) {
  .nav-list > ul {
    display: none;
  }
  .toggler-icon {
    display: flex;
  }
}
