.heropage-container {
    background: url("../../Assets/images/Hero\ section\ background.png");
    height: 598px;
}

.heropage-details {
    display: flex;
    justify-content: center;
}

.heropage-text {
    margin-top: 100px;
    margin-right: 19%;
}