.heropage-container {
    background: url("../../Assets/images/Hero\ section\ background.png");
    height: 598px;
}

.heropage-details {
    display: flex;
    justify-content: center;
}

.heropage-text {
    margin-top: 100px;
    margin-right: 12%;
}

.heropage-text>h2 {
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}
.heropage-text>h2>span{
    color: #FF6600;
}