.faqs-contact-container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 90px;
}

.faqs-container {
    background: #fff;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    width: 560px;
    height: 400px;
}

.faqs-text {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #ff6600;
    margin-bottom: 40px;
}

.ant-menu-root.ant-menu-inline {
    border-inline-end: none !important;
}
.ant-menu-submenu{
    background: #E6E6E6 !important;
}


.ant-menu .ant-menu-sub {
    height: 60px !important;
}
/* 

.ant-menu-item {
    height: 60px !important;
    text-overflow: unset !important;
    white-space: inherit !important;
}

.ant-menu-title-content {
    text-overflow: unset !important;
}
.ant-menu-submenu-selected{
    color: #ff6600 !important;
} */