.footer-container {
    padding: 50px;
    background: url("../../Assets/images/Footer-background.png");
}

.footer-details {
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo-text {
    width: 15%;
}

.footer-text {
    margin-top: 10px;
}